@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400;500;600&display=swap');
@import './media';
@import'./colors';



*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;


}

body {
    position: relative;
    background-color: $background-color;
}

// ui class
.underline {
    display: inline-block;
    width: 3rem;
    height: 1px;
    align-items: center;
    background-color: $fluo-color;

}

.title {
    text-transform: uppercase;
}

.fluo {
    color: $fluo-color;
}

// nav
i,
a,
​a:visited,
a:link,
.nav-link {
    text-transform: uppercase;
    color: white;
}

.navbar.shadow {
    background-color: rgba(0, 0, 0, .9);

}

.navbar {
    background: transparent;
    transition: background-color .6s;
    z-index: 1;

    .navbar-brand {
        color: white
    }

    .brand-text-second {
        color: $fluo-color;
        font-family: fantasy;
    }

    .navbar-toggler {
        padding: .5rem;
    }

    .nav-link:hover {
        color: $fluo-color;
    }

    .active {
        color: $fluo-color;
    }

}

// hero
.hero-image {
    height: 100vh;
    position: relative;

    .hero-img {
        width: 100%;
        height: 100%;
        background: url(/hairdresser/assets/img/hero-image.jpg)center center;
        position: relative;
        background-attachment: fixed;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .8);
        }

    }

    .hero-content {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .hero-text {
            font-size: 3rem;
            margin-bottom: 2rem;
            color: white;
            text-transform: uppercase;
            line-height: 5rem;
            text-align: center;


        }

        .btn {
            transition: .3s;
            text-transform: uppercase;
            background-color: transparent;
            border: 1px solid black;
        }

        .btn:hover {
            color: $fluo-color;
        }
    }
}

// about
.about {
    min-height: 100vh;
    color: $grey-color;

    .about-img img {
        @include shadowIn;
    }

    .about-text {
        width: 40%;

        .about-description {
            text-align: justify;
            line-height: 1.8rem;
        }
    }
}

// services 
.services {
    min-height: 100vh;

    .card {
        @include boxShadow;

        .btn {
            background-color: $fluo-color;
            text-transform: uppercase;
            color: #fff;

            &:hover {
                background-color: #27ae60;
                color: #fff;
                transition: .3s;
            }
        }

    }
}

// team
.team {
    min-height: 100vh;

    img {
        width: 80%;
        height: 80%;
        margin: 1.5rem;
        border-radius: 5px;
        transition: .3s;


        &:hover {
            transform: scale(1.2)
        }
    }

    .social {
        width: 100%;
        margin-top: 1rem;
        justify-content: center;
        font-size: 2rem;

        i {
            margin: 0 1rem 0 1rem;
            cursor: pointer;
        }

    }

    .name {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .5rem;
    }
}

// contact
.contact {
    min-height: 100vh;

    .contact-form {
        height: 500px;
        width: 500px;
        border: 1px solid white;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
        border-radius: 15px;
        backdrop-filter: blur(10px);
        flex-wrap: wrap;

        input {
            width: 290px;
            height: 40px;
            padding-left: 10px;
            outline: none;
            border: 1px solid black;
            font-size: 15px;
            margin-bottom: 10px;
            background: none;

            &::placeholder {
                color: rgb(162, 159, 159);

            }

        }

        textarea {
            background: none;
            border: 1px solid black;
            color: black;
            font-weight: 200;
            font-size: 15px;
            padding: 10px;
            outline: none;
            min-width: 290px;
            max-width: 290px;
            min-height: 80px;
            max-height: 80px;

            &::-webkit-scrollbar {
                width: 1em;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(194, 194, 194, 0.713);
            }
        }

        .btn {
            background-color: $fluo-color;
            text-transform: uppercase;
            color: #fff;

            &:hover {
                background-color: #27ae60;
                color: #fff;
                transition: .3s;
            }
        }



    }


}

footer {
    text-align: center;
    min-width: 100%;
    height: 20px;
    background-color:rgb(188, 185, 185);
    color: #fff;
}